@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

</br>
</br>


<address>
    <h4>De Wilmer Castro</h4>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/wilmer.morancastro">www.facebook.com/wilmercastro</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/wilmermorancast?lang=es">www.twitter.com/wilmercastro</a><br />
    <strong>Instagram:</strong>   <a href="https://www.instagram.com/wilmermcastro/">www.instagram.com/wilmercastro</a><br />
    <strong>Gmail:</strong> <a>Wilmer19427@gmail.com</a><br />
</address>
</br>

<address>
    <h4>De Rhailin Amable</h4>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/rhailin.madepuello">www.facebook.com/rhailinamable</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/">www.twitter.com/rhailinamable</a><br />
    <strong>Instagram:</strong>   <a href="https://www.instagram.com">www.instagram.com/rhailinamable</a><br />
    <strong>Gmail:</strong> <a>Rhailinmade@gmail.com</a><br />
</address>
