
@{
    ViewBag.Title = "SobreNosotros";
}

<h1 style="text-align:center;margin-top:16%">Sobre Nosotros</h1>

<p class="text-danger"style="text-align:center;font-size:medium;margin-top:4%;margin-bottom:20%">En este proyecto, trabajamos mi compañero: Rhailin Amable, y yo: Wilmer Castro
    hicimos este proyecto por medios educativos para el Proyecto Final de Programación III
    Espero que les guste.</p>
